<div class="container box has-background-white p-5 has-text-centered">
    <form class="is-flex-direction-column">
        <div class="mb-4 p-2 container box">
            <input type="text" placeholder="Username" name="username" required>
            <input type="password" placeholder="Password" name="password" required>
        </div>
       <button class="button is-green is-outlined p-2" type="submit">LOGIN</button>
    </form>
</div>

