<body class="container box has-background-white p-5 has-text-centered">
    <button class="button is-green is-outlined p-2" type="submit" id="landing-page-signup">SIGN UP</button>
    <button class="button is-green is-outlined p-2" type="submit" id="landing-page-login">LOGIN</button>
    <script type="module" src="/js/signup.js"></script>
</body>