 <body class="container box has-background-white p-5 has-text-centered">
    <form class="is-flex-direction-column" id="signup-form">
        <div class="mb-4 p-2 container box">
            <input type="text" placeholder="Username" name="username" id="signup-username" required>
            <input type="text" placeholder="Name" name="name" id="signup-name" required>
            <input type="email" placeholder="Email" name="email" id="signup-email" required>
            <input type="password" placeholder="Password" name="password" id="signup-pword1" required>
            <input type="password" placeholder="Confirm Password" name="confirm_password" id="signup-pword2" required>
        </div>
        <button class="button is-green is-outlined p-2" type="submit">SIGN UP</button>
    </form>
</body>
