:root {
    --logo-dark-blue: #041F3F
}

#main-page-logo {
    width:300px;
    filter:drop-shadow(#285274 0.25rem 0.25rem 2px)
}

.column {
    display:flex;
    flex-direction:column;
}

.columns {
    height:100vh
}

#chat-input {
    width:100%;
}

html {
    background-color: var(--logo-dark-blue);
}

#chat-container {
    height: 50vh;
    overflow-y: auto;
}