#main-page-logo {
    width:300px;
    filter:drop-shadow(#285274 0.25rem 0.25rem 2px)
}

.column {
    display:flex;
    flex-direction:column;
}

.columns {
    height:100vh
}

#chat-input {
    width:100%;
}

#chat-ul {
    display: flex;
    flex-direction: column;
    padding-bottom: 111px;
}

#chat-form {
    display:flex;
}

.incomingMsg {
    border-radius: 20px 20px 20px 0px;
    align-self: flex-start;
    background-color: lightsalmon;
}

.outgoingMsg {
    border-radius: 20px 20px 0px 20px;
    align-self: flex-end;
    background-color: lightblue;
}