:root {
    --logo-dark-blue: #041F3F
}

#main-page-logo {
    width:300px;
    filter:drop-shadow(#285274 0.25rem 0.25rem 2px)
}

.column {
    display:flex;
    flex-direction:column;
}

.columns {
    height:100vh
}

#chat-input {
    width:100%;
}

#chat-ul {
    display: flex;
    flex-direction: column;
    padding-bottom: 111px;
}

#chat-form {
    display:flex;
}

.incomingMsg {
    border-radius: 20px 20px 20px 0px;
    align-self: flex-start;
    background-color: lightsalmon;
}

.outgoingMsg {
    border-radius: 20px 20px 0px 20px;
    align-self: flex-end;
    background-color: lightblue;
}

html {
    background-color: var(--logo-dark-blue);
}

#chat-container {
    height: 50vh;
    overflow-y: auto;
}

#conversation-name-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--logo-dark-blue);
    color: white;
}

#sidebar {
}

.conversation-li {
    background-color: var(--logo-dark-blue);
    color: white;
}

.convo-h {
    color: var(--logo-dark-blue);
    font-weight: bold;
}

#new-convo-form, #convo-input{
    max-width: 88%;
}